/*
 * Stoped working 2017 Feb
@import url(http://fonts.useso.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.useso.com/css?family=PT+Serif);
@import url(http://fonts.useso.com/css?family=Sorts+Mill+Goudy:400,400italic);
*/


@import url(./OpenSans.css);
@import url(./PTSerif.css);
@import url(./SortsMillGoudy.css);




