/* CS: 2013, 2015 */

/* Google Fonts.  Now loaded by JS */
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);

@import url(http://fonts.useso.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.useso.com/css?family=PT+Serif);
@import url(http://fonts.useso.com/css?family=Sorts+Mill+Goudy:400,400italic);
*/

@import url(bootstrap-flat.css);

@import url(publication_tab.css);


body {
      padding-top:15px;
      padding-bottom:40px;
      background-color: #fff;
      background-image: url(img/grid-18px.png);
      background-repeat: repeat-x;
      background-position: 0 0px;
      background-attachment:fixed;

      /* font-family:   Palatino, serif; */
      font-family: Georgia, 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
      font-size:11pt;
      /* font-family: 'PT Serif', Georgia, Helvetica, Arial, serif;*/
      text-shadow: 0 2px 0 rgba(255,255,255,0.7);
}


/*A rule for :lang(zh) would match elements with a language value of zh.*/
:lang(zh)       {
                  font-family: Georgia, 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
                  font-size:12pt;
                 }

:lang(en)       {
                  /*font-family: Monaco,  Georgia,  'PT Serif', 'Palatino Linotype', Helvetica, Arial, serif;*/
                  font-family: Georgia, 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
                  font-size:12pt;
                 }



h1, h2, h3, h4 {
    font-weight: bold;

    /*
    font-family: 'Open Sans', sans-serif;
    */
}


h1 {
    /* font-size:14pt; */
    text-transform:uppercase;
    letter-spacing:2px;

    /*
    text-shadow: 1px 1px 0px #ccc;
    */
    font-size: 17px;
    color: #373737;

}

h2 {
    font-size:12pt;
    /* text-transform:capitalize;  */
    /*border-bottom:3px solid #eef;*/
    margin:0 0 3px 0;
}

h3 {
    font-size:10pt;
}

h4 {
    font-size:9pt;
}

a {
    background: transparent;
    /* color: #4183C4; */
    color: navy;
    text-decoration:none;
}

a:hover {
    background: transparent;
    color: blue;
    text-decoration:none;
    text-shadow:0 0 0 #ccc;
}

hr {
    margin: 8px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

.dg {
    color: darkgreen;
}

.db {
    color: darkblue;
}

.red {
    color: red;
}


#bio {
    color:darkgrey;
    font-size:12pt;
}

/* Override the bootstrap style */
blockquote {
    font-size:12pt;
    margin-left:11px;
    margin-top:5px;
   /* margin-bottom: 0px;*/

    background-image: url(../Shen.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:35%;

    text-shadow: 0 0 0;

}

/* modify bootstrap tooltip */
div[class="tooltip-inner"] {
    text-align: center;
/*
    border-radius: 0px;
    margin-bottom: 2px;
*/
    background-color: black;
    font-family: Arial, serif;
    max-width: 450px;
    color: #fff;
    text-shadow: 0 0 0;
}

.person-circle {
        width:  35px;
        height: 35px;
        border-radius: 17.5px;
        background: transparent;
        -webkit-border-radius: 17.5px;
        -moz-border-radius: 17.5px;
        box-shadow: 0 0 1px rgba(0, 0, 0, .9);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .9);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .9);
}

pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 5px;
    font-size: 12.025px;
    line-height: 18px;
/*
word-break: break-all;
word-wrap: break-word;
*/
    word-break: normal;
    word-wrap:  normal;

    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

table
{
    counter-reset:Serial;           /* Set the Serial counter to 0 */
}

tr td:nth-child(3):after
{
    counter-increment:Serial;         /* Increment the Serial counter */
    content:"  ."counter(Serial);        /* Display the counter          */
    color:#555;
    font-size:small;
    vertical-align:top;
}

/*
 * nav theme 2 only, CS
 */
.nav_theme2_fixed {
    position:fixed;
    top:0px;
    width:100%;
}
.active {
    color: white;
}


.proj_more {
  color: darkgreen;
  font-size: small;
  vertical-align:top;
  font-weight: bold;
}


a.proj_more:hover {
  color: black;
}

#news_div {
border-radius: 3px;
border: 0px solid lightgrey;
padding: 3px 1px 1px 6px;
}

