@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url(PT Serif/PT-Serif.eot);
  src: local('PT Serif'), local('PTSerif-Regular'), url(PT Serif/PT-Serif.eot?#iefix) format('embedded-opentype'), url(PT Serif/PT-Serif.svg#PTSerif) format('svg'), url(PT Serif/PT-Serif.ttf) format('truetype'), url(PT Serif/PT-Serif.woff2) format('woff2'), url(PT Serif/PT-Serif.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(PT Serif/PT-Serif-Bold.ttf) format('truetype'), url(PT Serif/PT-Serif-Bold.woff2) format('woff2'), url(PT Serif/PT-Serif-Bold.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(PT Serif/PT-Serif-Italic.ttf) format('truetype'), url(PT Serif/PT-Serif-Italic.woff2) format('woff2'), url(PT Serif/PT-Serif-Italic.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(PT Serif/PT-Serif-Bold-Italic.ttf) format('truetype'), url(PT Serif/PT-Serif-Bold-Italic.woff2) format('woff2'), url(PT Serif/PT-Serif-Bold-Italic.woff) format('woff');
}

