<div class="container">
<footer>
<hr>
<small style="float:left;">&copy;{{ title }}. 
    This page is generated using Python/Bash scipt
    <a href="https://bitbucket.org/chhshen/chhshen.bitbucket.org/" target="_blank" data-toggle="tooltip"
       data-placement="top" title="check out the code on bitbucket">
          <i class="fa fa-bitbucket"></i></a>
</small>
                <small style="float:right;">
                            <a href="#"
                                data-toggle="tooltip" title="scroll to the top of the page"
                                onclick="scrollToTop();return false">
                                <i class="fa fa-arrow-circle-up" style="color:red; font-size:14pt"></i>
                            </a>
                </small>
</footer>
</div>
<!--
<script src="http://code.jquery.com/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
-->


<script>window.jQuery || document.write('<script src="_assets/js/jquery.js">\x3C/script>')</script>


<!-- I don't know why but the preloader doesn't work in Chrome; works in Safari without any problem -->
<!-- Preloader -->

<script type="text/javascript">
//<![CDATA[
         $(window).load(function() {                 // makes sure the whole site is loaded
         $("#status").fadeOut();                     // will first fade out the loading animation
         $("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.        
                   })

//]]>
</script> 

<script src="_assets/js/bootstrap.min.js"></script>
<script src="_assets/js/bootstrap-sortable.js"></script>
<script src="_assets/js/jquery.dropdown.js"></script>

<script src="_assets/js/cs.js"></script>
<!-- enable bootstrap tooltip, example: <a href="#" data-toggle="tooltip" title="xxxxx">WSS ... -->
<script type="text/javascript">
    $(function() {
    $("[data-toggle='tooltip']").tooltip();
});

// <!-- highlight current menu item -->
$(document).ready(function(){
    $('.nav a').each(function(index) {
        if(this.href.trim() == window.location)
            $(this).addClass("active");
    });
});

</script>
