<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--
<link rel="stylesheet"          href="_assets/css/loader.css">
-->

<link rel="stylesheet"          href="_assets/css/bootstrap.css">
<link rel="stylesheet"          href="_assets/css/bootstrap-sortable.css">
<link rel="stylesheet"          href="_assets/css/jquery.dropdown.css">

<!-- http://fortawesome.github.io/Font-Awesome/get-started/ -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

<!-- http://mfizz.com/oss/font-mfizz -->
<link href="_assets/fonts/font-mfizz-1.2/font-mfizz.css" rel="stylesheet">


<!-- paper_theme_index = {{ paper_theme_index }}  
  
{% if paper_theme_index == 2 %}    
            <link rel="stylesheet" href="_assets/css/paper2.css"/>
{% endif %}

-->




<link rel="stylesheet" href="_assets/css/main.css">
<link rel="stylesheet" href="_assets/css/nav_theme{{ nav_theme_index }}.css">

