

{% if nav %}
<!-- bootstrap navbar -->
<div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">

                <div class="nav-collapse">
                    <ul class="nav">

                        {% for t in nav_title_list %}
                            <li><a href="{{ nav_link_list[loop.index-1]  }}">{{ t }}</a></li>
                        {% endfor %}

                    </ul>
                </div>

                <!-- 
                
                <div class="btn-group  pull-right">
                    <a class="btn btn-primary" href="http://www.facebook.com/sharer.php?u={{ url }}"
                    data-toggle="tooltip" data-placement="bottom" title="share at facebook">
                        <i class="fa fa-lg  fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-primary"
                        data-toggle="tooltip" data-placement="bottom" title="share at twitter"
                        href="http://twitter.com/share?text=webpage-to-share&url={{ url }}">
                        <i class="fa fa-lg  fa-twitter-square"></i>
                    </a>
                    <a class="btn btn-primary"
                        data-toggle="tooltip" data-placement="bottom" title="share at weibo.com"
                        href="http://service.weibo.com/share/share.php?url={{ url }}">
                        <i class="fa fa-lg  fa-weibo"></i>
                    </a>
                </div>

-->

            </div>
        </div>
</div>

{% endif %}


