


<br/>
<a href="#" data-xdrop="#x2"><em>Jump to </em> <b>↓</b></a>
<div id="x2" class="xdrop xdrop-tip xdrop-anchor-right">
    <ul class="xdrop-menu">
        {% if menu_paper_all %}   <li><a href="paper_all.html">full all</a></li> {% endif %}
        {% if menu_paper_journal %}   <li><a href="paper_journal.html">full journal</a></li> {% endif %}
        {% if menu_paper_conf %} <li><a href="paper_conf.html">full conference</a></li> {% endif %}
        {% if menu_paper_misc %} <li><a href="paper_misc.html">full others</a></li> {% endif %}
        <li class="xdrop-divider"></li> {% endif %}
        {% if menu_paper_all_s %} <li><a href="paper_all_select.html">selected all</a></li> {% endif %}
        {% if menu_paper_journal_s %} <li><a href="paper_journal_select.html">selected journal</a></li> {% endif %}
        {% if menu_paper_conf_s %} <li><a href="paper_conf_select.html">selected conference</a></li> {% endif %}
        {% if menu_paper_misc_s %} <li><a href="paper_misc_select.html">selected others</a></li> {% endif %}
	</ul>
</div>

