


<br/>
<!-- dropdown menu -->
{% if years_menu %}
<a href="#" data-xdrop="#x1"><em>Jump to </em> <b>↓</b></a>
<div id="x1" class="xdrop xdrop-tip xdrop-anchor-right">
    <ul class="xdrop-menu">

        {% for y in years_menu|str2list|reverse %}

        <li><a href="{{y}}.html">{{y}}</a></li>

        {% endfor %}

            <!--
            <li class="xdrop-divider"></li>
            -->
		</ul>
</div>


{% endif %}




<h1 id="{{ year[0] }}"> {{ year[0] }} ·  {{ num_papers }}  papers </h1>

{% for t in title -%}

<h2 id="{{ key[loop.index-1] }}">

    {{   title[loop.index-1] | replace('{','') | replace('}','')  }}

</h2>

<p> {{ authors[loop.index-1] | replace(' and ', ',')  | replace('{','') | replace('}','')   }} </p>





<p><b>Citation:</b>

    <br />

 {{ authors [loop.index-1] | replace(' and ', ',')  | replace('{','') | replace('}','')  }}.
<em>
        {{title[loop.index-1] | replace('{','') | replace('}','')}}.
    </em>
<strong>
    {% if journal[loop.index-1]   %}   {{    journal[loop.index-1]  }}. {% endif -%}
    {% if booktitle[loop.index-1] %}   {{  booktitle[loop.index-1]  }}. {% endif -%}

</strong>

{%  if volume[loop.index-1]  %} volume: {{  volume[loop.index-1]  }}, {%  endif -%}
{%  if number[loop.index-1]  %} number: {{  number[loop.index-1]  }}, {%  endif -%}
{%  if pages[loop.index-1]  %} pages:   {{  pages[loop.index-1]  }}. {%  endif -%}
{{    year[loop.index-1]  }}.

{%  if publisher[loop.index-1]  %}  {{    publisher[loop.index-1]  }}. {%  endif -%}


{%  if note[loop.index-1]  %}

<br/>
<strong>[</strong><em>{{  note[loop.index-1]  }}</em><strong>]</strong>

{%  endif -%}

</p>






<p>

<div class="btn-group">

    {% if abstract[loop.index-1]  -%}

     <a href="#collapse_abstract_{{  key[loop.index-1]  }}" data-toggle="collapse">
         <button class="btn btn-mini btn-warning" type="button">Abstract <i class="fa fa-arrow-circle-o-down"></i></button>
     </a>

     {% endif %}


     <a href="#collapse_{{  key[loop.index-1]  }}" data-toggle="collapse">
         <button class="btn btn-mini btn-primary" type="button">BibTeX <i class="fa fa-arrow-circle-o-down"></i></button>
     </a>

     {% if  eprint[loop.index-1]  %}
     <a href="http://arxiv.org/abs/{{ eprint[loop.index-1] }}"  target="_blank">
         <button class="btn btn-mini btn-danger" type="button">arXiv <i class="fa fa-file-pdf-o"></i></button>
     </a>
     {% endif %}


     {% if url[loop.index-1]  %}
     <a href="{{ url[loop.index-1] }}" target="_blank">
         <button class="btn btn-mini btn-info" type="button">URL <i class="fa fa-share"></i></button>
     </a>
     {% endif %}


     {% if  pdf[loop.index-1]  %}
     <a href="{{ pdf[loop.index-1] }}">
         <button class="btn btn-mini btn-warning" type="button">PDF <i class="fa fa-file-pdf-o"></i></button>
     </a>
     {% endif %}

     {% if  project[loop.index-1]  %}
     <a href="{{ project[loop.index-1] }}" target="_blank">
         <button class="btn btn-mini btn-success" type="button">Project page <i class="fa fa-files-o"></i></button>
     </a>
     {% endif %}

</div>
</p>

{% if abstract[loop.index-1]  -%}
<div id="collapse_abstract_{{  key[loop.index-1]  }}"  class="panel-collapse collapse">
<pre>
    {{ abstract[loop.index-1] }}
</pre>

</div>
{% endif -%}

<div id="collapse_{{  key[loop.index-1]  }}" class="panel-collapse collapse">
<pre>
 @{{ type[loop.index-1] }}{{ '{' }}{{  key[loop.index-1]  }},
   author    = "{{ authors[loop.index-1] | replace(",", " and ") }}",
   title     = "{{ title[loop.index-1] }}",
   {% if booktitle[loop.index-1]  and  type[loop.index-1] | lower == 'inproceedings' -%}
   booktitle = "{{ booktitle[loop.index-1] }}",
   {% endif -%}

   {% if journal[loop.index-1]  and  type[loop.index-1] | lower == 'article' -%}
   journal   = "{{ journal[loop.index-1] }}",
   {% endif -%}

   {% if editor[loop.index-1]  -%}
   editor    = "{{ editor[loop.index-1] }}",
   {% endif -%}

   {% if volume[loop.index-1]  -%}
   volume    = "{{ volume[loop.index-1]}}",
   {% endif -%}

   {% if number[loop.index-1]  -%}
   number    = "{{ number[loop.index-1]}}",
   {% endif -%}

   {% if pages[loop.index-1]  -%}
   pages     = "{{ pages[loop.index-1]}}",
   {% endif -%}

   {% if address[loop.index-1]  -%}
   address   = "{{ address[loop.index-1]}}",
   {% endif -%}

   {% if url[loop.index-1]  -%}
   url       = "{{ url[loop.index-1]}}",
   {% endif -%}
   year      = "{{ year[loop.index-1] }}",
 }
</pre>
</div>







{% if not loop.last  -%}
    <hr/>
{% endif %}

{% endfor -%}

