@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(Open Sans/Open-Sans.eot);
  src: local('Open Sans'), local('OpenSans'), url(Open Sans/Open-Sans.woff2) format('woff2'), url(Open Sans/Open-Sans.woff) format('woff'), url(Open Sans/Open-Sans.eot?#iefix) format('embedded-opentype'), url(Open Sans/Open-Sans.ttf) format('truetype'), url(Open Sans/Open-Sans.svg#OpenSans) format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(Open Sans/Open-Sans-Semibold.woff2) format('woff2'), url(Open Sans/Open-Sans-Semibold.woff) format('woff'), url(Open Sans/Open-Sans-Semibold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(Open Sans/Open-Sans-Bold.woff2) format('woff2'), url(Open Sans/Open-Sans-Bold.woff) format('woff'), url(Open Sans/Open-Sans-Bold.ttf) format('truetype');
}

