@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: italic;
  font-weight: 400;
  src: url(Sorts Mill Goudy/Sorts-Mill-Goudy-Italic.eot);
  src: local('Sorts Mill Goudy Italic'), local('SortsMillGoudy-Italic'), local('Sorts Mill Goudy'), url(Sorts Mill Goudy/Sorts-Mill-Goudy-Italic.ttf) format('truetype'), url(Sorts Mill Goudy/Sorts-Mill-Goudy-Italic.eot?#iefix) format('embedded-opentype'), url(Sorts Mill Goudy/Sorts-Mill-Goudy-Italic.svg#SortsMillGoudy) format('svg'), url(Sorts Mill Goudy/Sorts-Mill-Goudy-Italic.woff2) format('woff2'), url(Sorts Mill Goudy/Sorts-Mill-Goudy-Italic.woff) format('woff');
}

